<section class="section static">
  <div class="container imprint">
    <div class="columns">
      <div class="column is-8 is-offset-2 is-size-6">
        <h1>
          Contact
        </h1>
        <div class="is-pulled-right m-md">
          <figure class="image">
            <%= image_tag("catcalls.png", :alt => "Cats against catcalls illustration", :title => "Cats against catcalls Illustration, Fiona Tretau") %>
          </figure>
        </div>
        <p>Ihr erreicht uns per Mail über <%= mail_to 'kontakt@gynformation.de', 'kontakt@gynformation.de' %></p>
      </div>
    </div>
</section>
