<section class="section static">
  <div class="container faq">
    <div class="columns">
      <div class="column content is-8 is-offset-2 is-size-6">
        <h1>
          FAQ
        </h1>
        <h2 id="faq-submitter">1. Wer kann eine Empfehlung einreichen?</h2>
        <p>Jede Person, die selbst eine positive Erfahrung mit einer gynäkologischen Behandlung gemacht hat, 
          kann eine Empfehlung bei uns einreichen, indem sie den Gynformation-Fragebogen hier ausfüllt. Es 
          sollten nur die Fragen beantwortet werden, auf die aufgrund der eigenen Behandlungserfahrungen 
          sicher eine zutreffende Antwort gegeben werden kann.</p>
        <div class="is-pulled-right m-md">
          <figure class="image">
            <%= image_tag("uterus.png", :alt => "Uterus illustration", :title => "Uterus Illustration, Fiona Tretau") %>
          </figure>
        </div>
        <h2 id="faq-follow-up">2. Was passiert mit dem Fragebogen, 
          nachdem ich ihn ausgefüllt habe?</h2>
        <p>Wir werten die Fragebögen einzeln und anonymisiert in unserem Kollektiv aus, bevor wir sie 
          in Form einer Empfehlung auf unserer kommentierten Adressliste zur Verfügung stellen. Jede 
          Empfehlung wird vor Veröffentlichung von zwei Mitgliedern des Kollektivs geprüft. Es dauert 
          einen Moment, bis wir die Fragebögen ausgewertet haben. Wir möchten diesen Prozess nicht 
          automatisieren, weil es um komplexe Situationen geht und wir einen Missbrauch der Liste vermeiden
          möchten.</p>
        <h2 id="faq-evaluation">3. Wer liest und wertet meinen Fragebogen aus?</h2>
        <p>Gynformation ist ein Kollektiv von Menschen, die eine trans-inklusive, queer-feministische, 
          antirassistische Haltung teilen und in unterschiedlichen Bereichen tätig sind. Wir arbeiten alle 
          ehrenamtlich an Gynformation und begreifen es als aktivistisches Projekt. Uns verbindet der Kampf 
          um selbstbestimmte gynäkologische Praxis sowie um Zugang zu sicheren Schwangerschaftsabbrüchen und
          Informationen darüber. Wir haben alle eigene Erfahrungen mit gynäkologischen Behandlungen aus 
          Patient*innen-Perspektive, in unserem Kollektiv gibt es keine gynäkologisch behandelnden Personen.
          Bei der Aufnahme neuer Menschen ins Kollektiv ist uns wichtig, dass 
          <%= link_to 'unsere grundlegenden Haltungen', post_path(1) %> von allen Aktiven geteilt werden.</p>
        <h2 id="faq-criteria">4. Welche Kriterien wendet Gynformation bei der Aufnahme einer
          Empfehlung in das Verzeichnis an?</h2>
        <p>Diese Webseite soll jeder Person dabei helfen, möglichst schnell die richtige Adresse zu finden.
          Wir suchen nach positiven Empfehlungen und sind keine übliche Bewertungs-Plattform zur allgemeinen 
          Bewertung von gynäkologisch behandelnden Personen. Wenn bei uns ein ausgefüllter Fragebogen von 
          dir eingeht, gehen wir davon aus, dass du diese Person explizit für andere empfehlen möchtest. In
          einigen wenigen Fällen werden wir trotzdem auf eine Aufnahme in unser Verzeichnis verzichten: 
          Wenn in einem Fragebogen vermittelt wird, dass eine behandelnde Person dir gegenüber verbal 
          oder nonverbal grob übergriffig war, körperliche Untersuchungen oder Berührungen gegen deinen 
          Willen durchgeführt hat oder sich dir gegenüber diskriminierend verhalten hat, können wir im Kollektiv
          entscheiden, die Empfehlung nicht in das Verzeichnis aufzunehmen. Manchmal wird Personen erst bewusst, dass sie übergriffiges Verhalten erfahren haben, wenn sie explizit danach gefragt werden. Deshalb enthält der Fragebogen einige Fragen, die diese grundlegenden Qualitäten der medizinischen Behandlung abfragen.</p>
        <p>Der Fragebogen enthält zudem an verschiedenen Stellen Möglichkeiten, eine prinzipiell als 
          respektvoll und positiv erlebte Behandlung auch einzuschränken. Wir geben diese Einschränkungen 
          (ggf. leicht verkürzt/zusammengefasst) im Kommentarbereich der entsprechenden behandelnden Person 
          wieder. Eine positive Erfahrung kann von Patient*in zu Patient*in sehr unterschiedliche Kriterien 
          beinhalten. Es kann passieren, dass eine behandelnde Person besonders für eine bestimmte Gruppe 
          oder Behandlung empfohlen wird, für andere jedoch nicht. Wir arbeiten mit diesem Kompromiss, da 
          wir davon ausgehen, dass keine behandelnde Person perfekt ist und im Einzelfall der Zugang zu 
          respektvoller medizinischer Versorgung auch nur für bestimmte Personengruppen viel wert sein kann.</p>
        <h2 id="why-filter">5. Wieso kann ich behandelnde Personen für bestimmte 
          Patient*innengruppen empfehlen und bei der Suche nach entsprechenden Kategorien filtern?</h2>
        <p>Du kannst auf Gynformation eine behandelnde Person ganz allgemein dafür empfehlen, dass sie sich 
          respektvoll, professionell und unvoreingenommen verhalten hat. Am Ende des Fragebogens hast du die 
          Möglichkeit, diese Empfehlung für bestimmte Personengruppen zu konkretisieren. Wir haben diese 
          Möglichkeit eingebaut, weil zahlreiche persönliche Eigenschaften und Zuschreibungen in der medizinischen 
          Behandlung zu besonderen Formen der (Mehrfach-)Diskriminierung führen können, und die Suche nach der 
          richtigen Praxis für diese Personen oft besonders schwierig ist.</p>
        <p>Wer diese gruppenspezifische Einschätzung ausspricht, ist sehr wichtig: Ob eine behandelnde Person 
          beispielsweise für lesbische Personen empfehlenswert ist, ist für nicht-lesbische Personen nur sehr 
          begrenzt zu erfahren. Wir haben die Möglichkeit der Empfehlung für eine bestimmte Gruppe also an die 
          Bedingung gebunden, selbst dieser Gruppe anzugehören. Sprich nur über die Dinge, die du aufgrund deiner 
          eigenen Erfahrung beurteilen kannst.</p>
        <h2 id="faq-display">6. Ich habe einen Fragebogen ausgefüllt, meine Empfehlung 
          erscheint aber nicht auf der Webseite. Welchen Grund kann das haben?</h2>
        <p>Entweder ist der Fragebogen noch in Bearbeitung durch unser Kollektiv (manchmal kann das etwas 
          dauern) oder wir haben entschieden, die behandelnde Person nicht in das Verzeichnis aufzunehmen, 
          da eine oder mehrere Informationen aus dem Fragebogen sie für Gynformation disqualifiziert. (Siehe 
          dazu auch Frage Nummer 4.) Wenn du eine behandelnde Person für einen Schwangerschaftsabbruch empfohlen 
          hast, kann es zudem sein, dass diese nicht möchte, dass ihre Adresse veröffentlich wird. (Siehe dazu 
          auch Frage Nr. 7).</p>
        <h2 id="abortion">7. Wie geht Gynformation mit Empfehlungen für die Behandlungsmethode
          Schwangerschaftsabbruch um?</h2>
        <p>Wir treten für das Recht ein, Patient*innen möglichst präzise und vollständige Informationen über 
          die Bedingungen und Möglichkeiten von Abbrüchen zur Verfügung zu stellen. Uns ist aber bewusst, dass 
          es in bestimmten Kontexten und Gegenden von Deutschland für Ärzt*innen und Patient*innen negative 
          Auswirkungen haben kann, diese Informationen öffentlich zu platzieren. Wir respektieren diese Entscheidung, 
          da die Ärzt*innen die Situation vor Ort am besten einschätzen können. Um die Patient*innen dieser 
          Praxen und die praktizierenden Ärzt*innen nicht gegen ihren Willen in den Fokus fundamentalistischer 
          Abtreibungsgegner*innen zu stellen, veröffentlichen wir daher in diesem Zusammenhang ausschließlich 
          Adressen, die bereits auf der <%= link_to 'bundesweiten Liste', 'https://www.bundesaerztekammer.de/aerzte/versorgung/schwangerschaftsabbruch/' %>
          bzw. in Hamburg auf der <%= link_to 'Hamburger Liste', 'https://www.hamburg.de/schwangerschaftskonfliktberatung/4020554/schwangerschaftsabbruch/' %>
          veröffentlicht sind. Werden behandelnde Personen, die auf keiner dieser Listen stehen, für Abbrüche empfohlen, 
          dann fragen wir diese vor der Veröffentlichung nach ihrem Einverständnis.</p>
        <h2 id="faq-contact-change">8. Ich habe einen Fragebogen abgeschickt, möchte aber noch 
          etwas hinzufügen/verändern. Wen kann ich kontaktieren?</h2>
        <p>Bitte schicke eine Nachricht mit dem Namen der behandelnden Person und den Änderungen/zusätzlichen 
          Informationen an <%= mail_to 'kontakt@gynformation.de', 'kontakt@gynformation.de' %>.</p>
        <h2 id="faq-person-exists">9. Die Person, die ich empfehlen möchte, steht bereits 
          auf der Liste. Soll ich trotzdem einen Fragebogen ausfüllen?</h2>
        <p>Ja! Verschiedene Personen machen verschiedene Erfahrungen und nehmen verschiedene Behandlungen 
          in Anspruch, deshalb helfen uns viele Perspektiven auf die gleiche behandelnde Person. Besonders 
          hilfreich ist ein zusätzlicher Eintrag von dir, wenn du damit eine Empfehlung für neue 
          Personengruppen aussprichst.</p>
        <h2 id="faq-contact-complaint">10. Gynformation empfiehlt auf der Liste eine 
          behandelnde Person, mit der ich schlechte Erfahrungen gemacht habe. Was kann ich tun?</h2>
        <p>Bitte schreibe uns eine Nachricht an <%= mail_to 'kontakt@gynformation.de', 'kontakt@gynformation.de' %>
          mit dem Namen der behandelnden Person und deiner negativen Erfahrung. Wir besprechen dann im 
          Kollektiv und ggf. in Rücksprache mit dir per Email, ob die Person von der Gynformation-Liste 
          zu entfernen ist, oder ob wir deine Einschränkungen im Kommentarfeld der entsprechenden 
          behandelnden Person sichtbar machen. Es kann also sein, dass die behandelnde Person, mitsamt 
          der Einschränkungen, weiterhin als Empfehlung für bestimmte Personengruppen oder Behandlungen 
          auf der Liste erscheint. Keine behandelnde Person ist perfekt und gerade in Gegenden, wo es 
          nicht viele gynäkologische Praxen zur Auswahl gibt, kann die Empfehlung dennoch einzelnen 
          Menschen hilfreiche Informationen liefern.</p>
        <h2 id="faq-contact-feedback">11. Mir fehlt etwas bzw. mich stört etwas an 
          dem Fragebogen oder der Webseite. Wohin kann ich mein Feedback richten?</h2>
        <p>Wir freuen uns über konstruktives Feedback an <%= mail_to 'kontakt@gynformation.de', 'kontakt@gynformation.de' %>. 
          Wir befinden uns aktuell in der BETA-Phase und arbeiten noch an vielen Stellen. Deine 
          Anmerkungen und Korrekturen sind für uns deshalb sehr hilfreich.</p>
        <h2>12. Ich habe eine Erfahrung mit sexueller Gewalt/Übergriff bei der 
          gynäkologischen Behandlung gemacht. An wen kann ich mich wenden?</h2>
        <p>(Versuchte) sexuelle Übergriffe und sexuelle Nötigung sind Straftaten, die bei 
          <%= link_to 'jeder Polizeistelle', 'https://www.polizei-beratung.de/themen-und-tipps/sexualdelikte/sexuelle-noetigung-vergewaltigung/' %>
          angezeigt werden können. Du kannst dich auch von einer Person, der du vertraust, begleiten lassen.</p>
        <p>Bei Beschwerden über Ärzt*innen kannst du dich außerdem an die 
          <%= link_to 'Beschwerdestelle der Ärztekammer', 'https://www.tk.de/techniker/leistungen-und-mitgliedschaft/mitgliederservice/arzt-und-krankenhausbesuch/behandlungsfehler/haeufigste-fragen-zu-behandlungsfehlern/beschwerdestellen-aerztekammer-laender-zustaendigkeit-2010400' %>
          deines Bundeslandes wenden. In Hessen gibt es eine <%= link_to 'Ombudsstelle für Fälle von Missbrauch in ärztlichen Behandlungen', 'https://www.laekh.de/buerger-patienten/ihr-gutes-recht/ombudsstelle-fuer-faelle-von-missbrauch-in-aerztlichen-behandlungen' %>. 
          Andere Bundesländer haben eine solche Ombudsstelle leider nicht eingerichtet. Leider 
          sind wir als Kollektiv nicht qualifiziert, in diesen Fällen kompetente rechtliche oder 
          psychologische Beratung zu übernehmen.</p>
        <h2 id="faq-remove-me">13. Ich bin selbst als behandelnde Person tätig und bin
          auf der Webseite genannt. Wie kann ich meinen Namen wieder entfernen lassen?</h2>
        <p>Dein Name befindet sich hier, weil eine*r deiner Patient*innen dich empfohlen hat. 
        Es ist schade, dass du nicht mehr auf Gynformation auftauchen möchtest, aber natürlich 
        respektieren wir diesen Wunsch. Bitte schicke eine Nachricht an <%= mail_to 'kontakt@gynformation.de', 'kontakt@gynformation.de' %>, 
        gern auch mit Angabe eines Grundes.</p>
        <h2 id="faq-add-me">14. Ich bin als behandelnde Person tätig und würde 
        gern auf Gynformation aufgenommen werden. Was kann ich tun?</h2>
        <p>Es gibt leider keine Möglichkeit, sich selbst auf die Webseite setzen zu lassen. 
        Gynformation arbeitet ausschließlich auf Grundlage der Erfahrungen und Empfehlungen von 
        Patient*innen.</p>
        <h2 id="faq-contact-participate">15. Ich habe Lust, regelmäßig bei Gynformation 
        mitzumachen. Welche Möglichkeiten gibt es?</h2>
        <p>Gynformation braucht sehr unterschiedliches Wissen/Fähigkeiten/Erfahrungen. Die Möglichkeiten, 
        sich einzubringen sind also sehr vielfältig und wir freuen uns über Anregungen und Engagement. 
        Voraussetzung ist, dass du persönlich Erfahrungen mit gynäkologischen Behandlungen gemacht 
        hast und die <%= link_to 'Grundhaltung', post_path(1) %> unseres Kollektivs teilst. Wir arbeiten 
        aus Patient*innen-Perspektive und nehmen daher keine gynäkologisch behandelnden Personen auf. 
        Je größer das Erfahrungsspektrum der Menschen ist, die an Gynformation mitarbeiten, desto besser 
        können die Realitäten der gynäkologischen Behandlung abgebildet und mitbedacht werden. Wir arbeiten 
        alle ehrenamtlich an Gynformation und begreifen es als aktivistisches Projekt. Wir befinden uns 
        aktuell in der Aufbau-Phase und sind noch dabei, unsere internen kollektiven Strukturen zu finden. 
        Daher sollten Neuzugänge in dieser Phase dazu bereit sein, mit uns diese Strukturen auszubauen und 
        in regelmäßigem Kontakt zu stehen. Später wird sich der Arbeitsaufwand je nach individuellen 
        Kapazitäten frei gestalten lassen.</p>
        <p>Aktuell haben wir konkreten Bedarf zur Unterstützung bei folgenden Fragen/Aufgaben:</p>
        <ul>
          <li>Übersetzung der Webseite in Leichte Sprache, Englisch, ggf. weitere Sprachen</li>
          <li>Programmieren/Web-Entwicklung (Ruby on Rails / CSS / HTML)</li>
          <li>Juristische Expertise</li>
          <li>Autor*innen für themenspezifische Artikel auf unserem Blog</li>
          <li>Personen mit Kapazität für regelmäßige Auswertung der Fragebögen</li>
        </ul>
        <p>Wir freuen uns, wenn du eine Email an <%= mail_to 'kontakt@gynformation.de', 'kontakt@gynformation.de' %> schreibst und kurz erklärst, wer du bist und wieso und in welchem Umfang du dich bei Gynformation einbringen möchtest.</p>
      </div>
    </div>
  </div>
</section>
