<section class="section static">
  <div class="container imprint">
    <div class="columns">
      <div class="column is-8 is-offset-2 is-size-6">
        <h1>
          <%= t('.headline') %>
        </h1>
        <address class='m-t-md'>
          Gynformation<br>
          c/o femrep e.V.<br>
          Schäferstraße 26<br>
          20355 Hamburg<br>
          Mail: <%= mail_to 'kontakt@gynformation.de', 'kontakt@gynformation.de' %>
        </address>
        <div class='m-t-xl'>
          <p class='has-text-weight-bold'>Illustrationen: Fiona Tretau</p>
        </div>
      </div>
    </div>
  </div>
</section>
