<% provide(:resource_path, admin_treatment_method_path) %>
<div class="section">
  <div class="container">
    <h2 class="title"><%= t('.headline') %></h2>
    <%= render partial: "form", locals: {treatment_method: @treatment_method} %>
  </div>
</div>
