<section role='search'>
  <fieldset class="profile-search">
    <%= form_with url: profiles_path, method: 'get' do |form| %>
      <div class='select is-fullwidth m-t-sm'>
        <%= form.select('tag', options_for_select(Tag.all.collect {|tag| [tag.name[I18n.locale.to_s], tag.key] }, selected: params[:tag]), {prompt: I18n.t('profile.select_a_tag') })  %>
      </div>
      <div class='select is-fullwidth m-t-sm'>
        <%= form.select('treatment_method', options_for_select(TreatmentMethod.all.collect {|treatment_method| [treatment_method.name[I18n.locale.to_s], treatment_method.key] }, selected: params[:treatment_method]), {prompt: I18n.t('profile.select_a_treatment_method') })  %>
      </div>
      <div class='select is-fullwidth m-t-sm'>
        <%= form.select('state', options_for_select(Address.states.collect  { |state| [state[:name], state[:iso_code]] }, selected: params[:state]), { prompt: I18n.t('profile.select_a_state') })  %>
      </div>
      <%= form.submit I18n.t('profile.filter'), class: 'button is-danger is-fullwidth m-t-sm' %>
    <% end %>
  </fieldset>
</section>
