<section class="section profile">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <h2 class="search-headline">Ich suche eine behandelnde Person, die empfohlen wurde für ... </h2>
        <%= render 'filter_bar' %>
        <ul class='profile__list'>
          <% if @profiles.length > 0 %>
            <% @profiles.each do |profile| %>
              <%= render profile %>
            <% end %>
          <% else %>
            <p><%= t('profile.no_results') %></p>
          <% end %>
        </ul>
        <div class="m-t-md">
          <%= pagy_bulma_nav(@pagy).html_safe if @pagy.pages > 1 %>
        </div>
      </div>
    </div>
  </div>
</section>
