<div id="clearance section" class="sign-in">
  <div class="container">
    <div class="columns">
      <div class="column is-one-third">
        <h2 class="title"><%= t("sessions.new.title") %></h2>
        <%= render partial: '/sessions/form' %>
      </div>
    </div>
  </div>
</div>
