<section role='search' class="m-b-md">
  <fieldset class="m-t-md">
    <%= form_with url: admin_dashboard_index_path, method: 'get' do |form| %>
      <div class="field is-grouped is-horizontal">
        <div class="control">
          <div class='select'>
            <%= form.select(:published, options_for_published, selected: params[:published]) %>
          </div>
        </div>
        <div class="control">
          <%= form.text_field :last_name, class: 'input', placeholder: t('.placeholder_last_name'), value: params[:last_name]  %>
        </div>
        <div class="control">
          <%= form.submit I18n.t('profile.filter'), class: 'button is-primary' %>
        </div>
      </div>
    <% end %>
  </fieldset>
</section>
