<div class='section'>
  <div class='container'>
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <%= link_to t('admin.new_profile'), new_admin_profile_path, class: 'button is-primary' %>
        <%= render 'filter_bar' %>
        <table class='table is-striped is-fullwidth'>
          <thead>
            <tr>
              <th>Name</th>
              <th>Bundesland</th>
              <th>Veröffentlicht</th>
              <th>Aktionen</th>
            </tr>
          </thead>
          <tbody>
            <% @profiles.each do |profile| %>
              <tr>
                <td><%= profile.first_name %> <%= profile.last_name %></td>
                <td><%= profile.state %></td>
                <td>
                  <span class="icon">
                    <% if profile.published %>
                      <i class="fa fa-check"></i>
                    <% else %>
                      <i class="fa fa-times"></i>
                    <% end %>
                  </span>
                </td>
                <td>
                  <%= link_to edit_admin_profile_path(profile.id), data: { test: "edit-profile-link" } do %>
                    <span class="icon">
                      <i class="fa fa-edit" title=<%= t('profile.edit') %>></i>
                    </span>
                  <% end %>
                  <%= link_to admin_profile_path(profile.id), data: { test: "show-profile-link" } do %>
                    <span class="icon">
                      <i class="fa fa-eye" title=<%= t('profile.show') %>></i>
                    </span>
                  <% end %>
                  <%= link_to admin_profile_path(profile.id), method: :delete, data: { confirm: "Are you sure?", test: "delete-profile-link" } do %>
                    <span class="icon">
                      <i class="fa fa-trash" title=<%= t('profile.delete') %>></i>
                    </span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= pagy_bulma_nav(@pagy).html_safe if @pagy.pages > 1 %>
      </div>
    </div>
  </div>
</div>
