  <%=  form.fields_for :address do |address_fields| %>
  <div class="field is-grouped">
    <div class="control is-expanded">
      <%= address_fields.label :street %>
      <%= address_fields.text_field :street, class: 'input' %>
    </div>
    <div class="control is-expanded">
      <%= address_fields.label :zip %>
      <%= address_fields.text_field :zip, class: 'input' %>
    </div>
  </div>
  <div class="field is-grouped">
    <div class="control is-expanded">
      <%= address_fields.label :city, class: 'label' %>
      <%= address_fields.text_field :city, class: 'input' %>
    </div>
    <div class="field">
      <%= address_fields.label :state, class: 'label' %>
      <div class="control">
        <div class="select">
          <%= address_fields.select(:state, Address.states.collect { |state| [state[:name], state[:iso_code]] }, { prompt: t('.please_select')} )%>
        </div>
      </div>
    </div>
  </div>
<% end %>
