<section class="section">
  <div class="container about">
    <div class="columns">
      <div class="column is-8 is-offset-2 is-size-6">
        <h1 class="title">Vielen Dank für deinen Beitrag zu diesem Projekt!</h1>
        <p>
        Wir werten deine Antworten anonymisiert und einzeln in unserem Kollektiv aus,
        bevor wir sie in Form einer Empfehlung auf unserer kommentierten Adressliste
        zur Verfügung stellen. 
        </p>
        <p>
        Es dauert einen Moment, bis wir die Fragebögen ausgewertet
        haben. Wir möchten diesen Prozess nicht automatisieren, weil es um komplexe
        Situationen geht und wir einen Missbrauch der Liste vermeiden möchten.
        </p>
        <p>
        In unserem Auswertungsteam sind ausschließlich Menschen, die selbst Erfahrungen
        mit gynäkologischer Behandlung gemacht haben/machen.
        </p>
      </div>
    </div>
  </div>
</section>
