<section>
  <div class="steps is-medium" id="questionnaire-steps">
    <%= render partial: "questionnaire/steps/items" %>
    <div class="steps-content">
      <%= render 'questionnaire/steps/disclaimer' %>
      <%= form_for @questionnaire_form, url: questionnaire_index_path do |form| %>
        <%= form.invisible_captcha :subtitle %>
        <%= render partial: "questionnaire/steps/treating_person", locals: {form: form} %>
        <%= render partial: "questionnaire/steps/treatments", locals: {form: form} %>
        <%= render partial: "questionnaire/steps/respectful_treatment", locals: {form: form} %>
        <%= render partial: "questionnaire/steps/submit_recommendation", locals: {form: form} %>
        <%= render partial: "questionnaire/steps/feedback", locals: {form: form} %>
      <% end %>
    </div>
    <div class="steps-actions">
      <div class="steps-action">
        <a href="#" data-nav="previous" class="button" data-test="previous-step"><%= t('questionnaire_form.previous') %></a>
      </div>
      <div class="steps-action">
        <a href="#" data-nav="next" class="button is-primary" data-test="next-step"><%= t('questionnaire_form.next') %></a>
      </div>
    </div>
  </div>
</section>
