<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2 m-b-xxl">
        <div class="content">
          <div class="post-detail">
            <h1 class='title'><%= @post.title %></h1>
            <p class='author'><%= @post.author %>, <%= @post.created_at.strftime("%F") %></p>
            <p class='body'><%= @post.body %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>