<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2 m-b-xxl">
        <div class="content">
          <div class="profile-detail">
            <h3><%= profile.first_name %> <%= profile.last_name %></h3>
            <p><%= I18n.t("profile.categories.#{profile.category}") %> 
            <h4><%= t("profile.address") %></h4>
            <p><%= profile.street %>, <%= profile.zip %> <%= profile.city %>, <%= state_name(profile.state) %></p>
            <h4><%= t("profile.phone_number") %></h4>
            <p><%= link_to profile.phone_number, "tel:#{profile.phone_number}" %></p>
            <h4><%= t("profile.website") %></h4>
            <p><%= link_to(profile.website, "https://#{profile.website}", target: "_blank") %></p>
            <h4><%= t('profile.accessibility')%></h4>
            <p><%= profile.accessibility %></p>
            <h4><%= t('profile.language')%></h4>
            <p><%= profile.language %></p>
            <h4><%= t('profile.health_insurance') %></h4>
            <div class="m-b-md">
              <%= raw profile.health_insurance.reject(&:blank?).map { |option| content_tag(:span, I18n.t("profile.health_insurance_options.#{option}"))}.join(',  ') %>
            </div>
            <h4><%= t('profile.recommended_for') %></h4>
            <div class="tags">
              <%= raw profile.tags.map(&:name).map { |tag_name| content_tag(:span, tag_name[I18n.locale.to_s], class: 'tag is-medium')}.join() %>
            </div>
            <h4><%= t('profile.treatment_methods') %></h4>
            <div class="tags">
              <p><%= raw profile.treatment_methods.map(&:name).map { |treatment_method_name| content_tag(:span, treatment_method_name[I18n.locale.to_s], class: 'tag is-medium')}.join() %></p>
            </div>
            <h4><%= t('profile.financing_of_treatments')%></h4>
            <p><%= profile.financing_of_treatments %></p>
            <h4><%= t('profile.comment')%></h4>
            <p><%= profile.comment %></p>
            <p class="has-text-right is-italic"><%= t('profile.last_updated')%>: <%= I18n.l(profile.updated_at, format: :short) %></p>
          </div>
        </div>
        <% if signed_in? %>
          <%= link_to t('profile.edit'), edit_admin_profile_path(profile.id), class: 'button is-danger' %>
        <% end %>
      </div>
    </div>
  </section>
