<% provide(:resource_path, admin_tag_path) %>
<div class="section">
  <div class="container">
    <h2 class="title"><%= t('.headline') %></h2>
    <%= render partial: "form", locals: {tag: @tag} %>
  </div>
</div>
