<% provide(:resource_path, admin_tags_path) %>
<div class='container'>
  <div class="columns">
    <div class="column is-10 is-offset-1">
     <h2 class="title"><%= I18n.t('admin.tags.new.headline') %></h2>
        <%= render partial: "form", locals: {tag: @tag} %>
      </div>
    </div>
  </div>
