// Place all the styles related to the admin/questionnaire controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.questionnaire {
  .tag {
    margin-right: 0.5rem;
  }
}