<%= form_with(url: yield(:resource_path), model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div class="notification is-danger">
      <ul>
        <% profile.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <div class="control">
      <%= form.label :title %>
      <%= form.text_field :title, class: 'input' %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= form.label :teaser %>
      <%= form.text_area :teaser, class: 'textarea' %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= form.label :body %>
      <%= form.text_area :body, class: 'textarea', rows: 15 %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= form.label :author %>
      <%= form.text_field :author, class: 'input' %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= form.label :published %>
      <%= form.check_box(:published) %>
    </div>
  </div>
  <div class="actions">
    <%= form.submit class: 'button is-primary' %>
  </div>
</div>
<% end %>
