<div class='section admin-posts'>
  <div class='container'>
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <h1 class="title"><%= t('.headline') %></h1>
        <table class="table is-fullwidth">
          <thead>
            <tr>
              <th>Title</th>
              <th>Author</th>
              <th>Last updated at</th>
              <th>Published</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @posts.each do |post| %>
              <tr>
                <td><%= post.title %></td>
                <td><%= post.author %></td>
                <td><%=  I18n.l(post.updated_at, format: :short) %></td>
                <td>
                  <span class="icon">
                    <% if post.published %>
                      <i class="fa fa-check" aria-hidden="true" title='Published'></i>
                    <% else %>
                      <i class="fa fa-times" aria-hidden="true" title='Unpublished'></i>
                    <% end %>
                  </span>
                </td>
                <td>
                  <%= link_to admin_post_path(post) do %>
                    <span class="icon">
                      <i class="fa fa-eye" title=<%= t('.show') %>></i>
                    </span>
                  <% end %>
                  <%= link_to edit_admin_post_path(post), data: { test: "edit-post-link" }  do %>
                    <span class="icon">
                      <i class="fa fa-edit" title=<%= t('.edit') %>></i>
                    </span>
                  <% end %>
                  <%= link_to admin_post_path(post), method: :delete, data: { confirm: 'Are you sure?', test: "delete-post-link" } do %>
                    <span class="icon">
                      <i class="fa fa-trash" title=<%= t('.delete') %>></i>
                    </span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>

        <%= link_to 'New Post', new_admin_post_path %>
      </div>

    </div>
  </div>
</div>

