<% provide(:resource_path, admin_posts_path) %>

<div class="section">
  <div class="container">
    <h2 class="title"><%= t('.headline') %></h2>
    <%= render 'form', post: @post %>
  </div>
</div>

