<section role='search'>
  <fieldset>
    <%= form_with url: admin_questionnaires_path, method: 'get' do |form| %>
      <div class="field is-grouped is-horizontal m-b-md">
        <div class="control">
          <div class='select'>
            <%= form.select(:status, options_for_status, selected: params[:status]) %>
          </div>
        </div>
        <div class="control">
          <%= form.submit t('.filter'), class: 'button is-primary' %>
        </div>
      </div>
    <% end %>
  </fieldset>
</section>
