<section class="section">
  <div class="container">
    <div class="columns content">
      <div class="column is-10 is-offset-1 questionnaire">
        <%= form_for @questionnaire, url: admin_questionnaire_path, class: 'box' do |form| %>
          <div class="field">
            <label class="label">Status</label>
            <div class="select">
              <%= form.select(:status, options_for_status) %>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <%= form.label :comment %>
              <%= form.text_area :comment, class: 'textarea' %>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <%= form.label :profile_link %>
              <%= form.text_field :profile_link, class: 'input' %>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <%= form.submit t('.save'), class: 'button is-primary' %>
            </div>
          </div>
        <% end %>
        <h2><%= t('.about_treating_person') %></h2>
        <p><%= @questionnaire.answer("first_name") %> <%= @questionnaire.answer("last_name")%></p>
        <p><%= @questionnaire.answer("street") %>, <%= @questionnaire.answer("zip_code") %> <%= @questionnaire.answer("city") %>, <%= state_name(@questionnaire.answer('state')) %></p>
        <h3 class="is-size-6"><%= t('.website') %></h3>
        <p><%= @questionnaire.answer("website") %></p>
        <h3 class="is-size-6"><%= t('.phone_number') %></h3>
        <p><%= @questionnaire.answer("phone_number") %></p>
        <h3 class="is-size-6"><%= t('.category') %></h3>
        <p><%= t("profile.categories.#{@questionnaire.answer("category")}", default: "") %></p>
        <h3 class="is-size-6"><%= t('.health_insurance') %></h3>
        <p><%= raw format_health_insurance(@questionnaire.answer("health_insurance")) %></p>
        <h3 class="is-size-6"><%= t('.payments_required_for_specific_treatments') %></h3>
        <p><%= @questionnaire.answer('payments_required_for_specific_treatments') %></p>
        <h3 class="is-size-6"><%= t('.languages') %></h3>
        <p><%= @questionnaire.answer('languages') %></p>
        <h3 class="is-size-6"><%= t('.practice_staff') %></h3>
        <p><%= @questionnaire.answer('practice_staff') %></p>
        <h3 class="is-size-6"><%= t('.barrier_free_access') %></h3>
        <p><%= @questionnaire.answer('barrier_free_access') %></p>
        <h2><%= t('.submitting_person') %></h2>
        <h3 class="is-size-6"><%= t('.tags') %></h3>
        <p><%= raw formatted_tags(@questionnaire.answer('self_describing_tags')) %></p>
        <p><%= @questionnaire.answer('additional_self_describing_tags') %></p>
        <h3 class="is-size-6"><%= t('.limit_recommendation') %></h3>
        <p><%= @questionnaire.answer('limit_recommendation') %></p>
        <h3 class="is-size-6"><%= t('.health_insurance') %></h3>
        <h2><%= t('.treatment_methods') %></h2>
        <h3 class="is-size-6"><%= t('.recommended_treatments') %> </h3>
        <p><%= raw format_recommended_treatments(@questionnaire.answer('recommended_treatments')) %></p>
        <h3 class="is-size-6"><%= t('.additional_recommended_treatments') %></h3>
        <p><%= @questionnaire.answer('additional_recommended_treatments') %></p>
        <h3 class="is-size-6"><%= t('.treatment_rejected') %></h3>
        <p><%= @questionnaire.answer('treatment_rejected') %></p>
        <h3 class="is-size-6"><%= t('.financing_of_treatments') %></h3>
        <ul><%= raw format_boolean_and_comment_answer(@questionnaire.answer('financing_of_treatments')) %></ul>
        <h2><%= t('.respectful_treatment') %></h2>
        <h3 class="is-size-6"><%= t('.listening') %></h3>
        <ul><%= raw format_boolean_and_comment_answer(@questionnaire.answer('listening')) %></ul>
        <h3 class="is-size-6"><%= t('.consent') %></h3>
        <ul><%= raw format_boolean_and_comment_answer(@questionnaire.answer('consent')) %></ul>
        <h3 class="is-size-6"><%= t('.explanation_of_treatment') %></h3>
        <ul><%= raw format_boolean_and_comment_answer(@questionnaire.answer('explanation_of_treatment')) %></ul>
        <h3 class="is-size-6"><%= t('.examination_execution') %></h3>
        <ul><%= raw format_examination_execution(@questionnaire.answer('examination_execution')) %></ul>
        <h3 class="is-size-6"><%= t('.treated_with_respect') %></h3>
        <ul><%= raw format_boolean_and_comment_answer(@questionnaire.answer('treated_with_respect')) %></ul>
        <h3 class="is-size-6"><%= t('.discriminatory_remarks') %></h3>
        <ul><%= raw format_boolean_and_comment_answer(@questionnaire.answer('discriminatory_remarks')) %></ul>
        <h3 class="is-size-6"><%= t('.respect_anything_else') %></h3>
        <p><%= @questionnaire.answer('respect_anything_else') %></p>
        <h2><%= t('.feedback') %></h2>
        <h3 class="is-size-6"><%= t('.feedback') %></h3>
        <p><%= @questionnaire.answer('feedback') %></p>
      </div>
    </div>
  </div>
</div>
</section>
