<div class='section'>
  <div class='container'>
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <%= render 'filter_bar' %>
        <table class='table is-fullwidth'>
          <thead>
            <tr>
              <th><%=t('.treating_persons_name')%></th>
              <th><%=t('.status')%></th>
              <th><%=t('.created_profile')%></th>
              <th><%=t('.date')%></th>
              <th><%=t('.actions') %></th>
            </tr>
          </thead>
          <tbody>
            <% @questionnaires.each do |questionnaire| %>
              <tr>
                <td><%= questionnaire.treating_persons_name.presence %></td>
                <td><%= t("admin.questionnaires.edit.status.#{questionnaire.status}") %></td>
                <% if questionnaire.profile_link.blank? %>
                  <td> - </td>
                <% else %>
                  <td><%= link_to 'Profile', questionnaire.profile_link %></td>
                <% end %>
                <td><%= questionnaire.created_at.to_formatted_s(:short) %></td>
                <td>
                  <%= link_to edit_admin_questionnaire_path(questionnaire.id) do %>
                    <span class="icon">
                      <i class="fa fa-eye" title=<%= t('.show') %>></i>
                    </span>
                  <% end %>
                  <%= link_to admin_questionnaire_path(questionnaire.id), method: :delete, data: { confirm: t('.confirm') } do %>
                    <span class="icon">
                      <i class="fa fa-trash" title=<%= t('.delete') %>></i>
                    </span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div>
          <%= pagy_bulma_nav(@pagy).html_safe if @pagy.pages > 1 %>
        </div>
      </div>
    </div>
  </div>
</div>
