<li id="post-<%=post.id%>" %>
  <div class='box post__element'>
    <div class="content">
      <h2><%= post.title %></h2>
      <p><%= post.teaser %><p>
      <%= link_to t('posts.more'), post_path(post.id), class: 'button is-danger post-detail-btn' %>
    </div>
  </div>
</li>
