<section class="section posts">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <ul class="post__list">
          <% if @posts.length > 0 %>
            <% @posts.each do |post| %>
              <%= render post %>
            <% end %>
          <% else %>
            <p><%= t('posts.no_posts') %></p>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>
