/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "./bulma_overrides.scss";
@import "bulma";
@import "bulma-extensions/bulma-steps/src/sass/index.sass";
@import "bulma-extensions/bulma-checkradio/src/sass/index.sass";
@import "font-awesome";

@font-face {
  font-family: 'vremenagrotesk';
  src: font-url('vremenagrotesk-webfont.woff2') format('woff2'),
    font-url('vremenagrotesk-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VT323';
  src: font-url('VT323-Regular.woff2') format('woff2'),
    font-url('VT323-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  border: 8px solid $primary;
}

.main-content {
  min-height: calc(100vh - 400px);
}

body:after{
  content: "beta";
  position: fixed;
  width: 80px;
  height: 25px;
  background: #FF637E;
  top: 7px;
  left: -20px;
  text-align: center;
  font-size: 13px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  line-height: 27px;
  transform:rotate(-45deg);
  z-index: 1000;
}

// Navbar
.navbar {
  border-bottom: 8px solid $primary;
  margin-bottom: 2rem;
}

.navbar-logo {
  font-family: $family-monospace;
  text-transform: uppercase;
  font-size: 3.8em;
  color: $primary;
  @include from($tablet) {
    font-size: 4.4em;
  }
}

.navbar-end .navbar-item {
  font-size: 1.25em;
  color: $danger;
}

.admin-navbar {
  margin-top: 0;
  border: none;
  
  .buttons {
    margin-bottom: 0;
  }
}

// Steps & Form
.steps {
  justify-content: center;
}

.steps .step-item.is-active .step-marker {
  background-color: $primary;
  color: white;
}

.steps .step-item.is-completed .step-marker {
  color: $danger;
  span {
    color: white !important;
  }
}

.step-items-container {
  border: 8px solid $primary;
  width: 70%;
}

.step-content p {
  margin-bottom: 2em;
}

.steps .step-item .step-marker {
  color: $primary;
}

.step-details {
  color: black;
}

.check-box-cloud {
  line-height: 1em;
  display: flex;
  flex-wrap: wrap;
}

.check-box-multi-column {
  flex-grow: 1;
  flex-basis: 250px;
}

.check-box-single-column {
  flex-grow: 1;
  flex-basis: 500px;
}

.check-box label {
  display: inline-block !important;
}