$primary: #19E4E8;
$danger: #FF637E;
$warning: #F3FA88;
$link: $primary;
$text: black;
$primary-light: lighten(#19E4E8, 30);
$info: $primary-light;

$family-sans-serif: "vremenagrotesk", sans-serif;
$family-monospace: "VT323", monospace;

$subtitle-color: black;

$navbar-item-hover-color: $primary;
$footer-background-color: white;
$footer-padding: 0;

$input-focus-box-shadow-size: none;
$input-border-color: black;

$button-border-width: none;
$button-focus-box-shadow-size: 0;

$box-shadow: 0; 
$box-radius: 0;
$box-background-color: white;

$tag-background-color: $primary;
$tag-radius: 0;

// Step Extension
$steps-marker-default-border:  .3rem solid; 
$steps-completed-color: $primary;
$steps-active-color: $danger;
$steps-divider-height: .1em;
$steps-default-color: $primary;
$steps-maker-default-color: white;
