// Place all the styles related to the admin/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post__element {
  .post-detail-btn {
    border-radius: 0;
    font-size: 1.25em;
  }
}

.post-detail {
  .author {
    font-style: italic;
  }

  .body {
    white-space: pre-line;
  }

  a {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(35%, rgba(255, 255, 255, 0)), color-stop(35%, #19E4E8), color-stop(75%, #19E4E8), color-stop(75%, rgba(255, 255, 255, 0)));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 35%, #19E4E8 35%, #19E4E8 75%, rgba(255, 255, 255, 0) 75%);
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 35%, #19E4E8 35%, #19E4E8 75%, rgba(255, 255, 255, 0) 75%);
    background-image: linear-gradient(to bottom,
        rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 35%, #19E4E8 35%, #19E4E8 75%,
        rgba(255, 255, 255, 0) 75%);
    text-decoration: none !important;
    color: black;
  }
}