@import "./bulma_overrides.scss";

.profile {
  &__element {
    margin-top: 1rem;
  }

  .box {
    border: 8px solid $primary;
  }

  .profile-detail-btn {
    font-size: 1.25rem;
    align-self: end;
  }

  .profile__element .content h4 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }

  .category {
    font-size: 1.25rem;
  }

  .content {
    display: flex;
    flex-direction: column;
  }
}

.profile-detail {
  border: 8px solid $primary;
  padding: 1.5rem;

  .category {
    font-size: 1.25rem;
  }
}

.content .profile-detail h3 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.profile-search {
  .select select {
    border: 2px solid $primary;
    border-radius: 0;
    &:hover {
      border-color: $primary;
    }
    &:active {
      border-color: $primary;
    }
  }

  .button {
    border-radius: 0;
  }
}

.search-headline {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  border: 2px solid $primary;
  padding: 1rem;
}