// Place all the styles related to the questionnaire controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "./bulma_overrides.scss";

.new_questionnaire_form {
  width: 100%;
  .label {
    color: black;
    font-weight: normal;
  }

  .input, .textarea, .select select {
    border-radius: 0;
  }

  h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .control .additional-comment {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}
