<div class="step-content is-active column is-8 is-offset-2">
  <p>
    Bitte fülle diesen Fragebogen nur aus, wenn du eine Empfehlung für eine*n Gynäkolog*in, Hebamme oder gynäkologisch tätige Allgemeinärzt*in (im Fragebogen zusammenfassend „behandelnde Person” genannt) aussprechen möchtest. Diese kannst du natürlich einschränken, denn keine behandelnde Person ist perfekt.
    Bitte beantworte außerdem nur Fragen, auf die du aufgrund deiner eigenen Behandlungserfahrungen sicher eine zutreffende Antwort geben kannst! Wenn dich Teile des Fragebogens nicht betreffen oder du sie nicht beantworten möchtest, kannst du immer Antworten auslassen. 
  </p>
  <p>
    Wir speichern, abgesehen von deinen Antworten, keine personenbezogenen Daten. 
    Sei dir aber beim Ausfüllen bewusst, dass wir einzelne Teile deiner Antworten & Kommentare anonymisiert ggf. in unserem Verzeichnis veröffentlichen werden. Wenn du das nicht möchtest, weise uns im Kommentarfeld ganz am Ende des Fragebogens darauf hin.   
  </p>
  <p>Vielen Dank für deinen Beitrag zu diesem Projekt!
  </p>
</div>
