<div class="step-content column is-8 is-offset-2">
  <h3><%= I18n.t('questionnaire_form.steps.items.feedback') %></h3>
  <div class="field">
    <div class="control">
      <%= form.label :feedback, class: 'label' %>
      <%= form.text_area :feedback, class: 'textarea'%>
    </div>
  </div>
  <div class="field">
    <div class="control buttons is-centered">
      <%= form.submit t('questionnaire_form.submit'), class: 'button is-primary is-large' %>
    </div>
  </div>
</div>
