<div class="step-content column is-8 is-offset-2">
  <h3><%= I18n.t('questionnaire_form.steps.items.submit_recommendation') %></h3>
  <p><%= t('questionnaire_form.submit_recommendation_html') %></p>
  <div class="field">
    <div class="control check-box-cloud">
      <%= form.label :self_describing_tags, class: "label" %>
      <%= collection_check_boxes(:questionnaire_form, :self_describing_tags, tag_list, :first, :last) do |box| %>
        <div class="check-box check-box-multi-column">
          <%= box.check_box class: "is-checkradio"%>
          <%= box.label class: 'check-box-label'%>
        </div>
      <% end %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= form.label :additional_self_describing_tags, class: "label" %>
      <%= form.text_field :additional_self_describing_tags, class: 'input' %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= form.label :limit_recommendation, class: "label" %>
      <%= form.text_area :limit_recommendation, class: 'textarea' %>
    </div>
  </div>
</div>
