<div class="step-content column is-8 is-offset-2">
  <h3><%= I18n.t('questionnaire_form.steps.items.about_treating_person') %></h3>
  <p>Ich möchte folgende behandelnde Person empfehlen.</p>
  <div class="field is-grouped is-grouped-multiline">
    <div class="control">
      <%= form.label :first_name, class: 'label' %>
      <%= form.text_field :first_name, class: 'input'%>
    </div>
    <div class="control is-expanded">
      <%= form.label :last_name, class: 'label'  %>
      <%= form.text_field :last_name, class: 'input' %>
    </div>
  </div>
  <div class="field is-grouped is-grouped-multiline">
    <div class="control is-expanded">
      <%= form.label :street, class: 'label' %>
      <%= form.text_field :street, class: 'input' %>
    </div>
    <div class="control">
      <%= form.label :zip_code, class: 'label' %>
      <%= form.text_field :zip_code, class: 'input' %>
    </div>
  </div>
  <div class="field is-grouped is-grouped-multiline">
    <div class="control is-expanded">
      <%= form.label :city, class: 'label' %>
      <%= form.text_field :city, class: 'input' %>
    </div>
    <div class="field">
      <%= form.label :state, class: 'label' %>
      <div class="control">
        <div class="select">
          <%= form.select(:state, Address.states.collect { |state| [state[:name], state[:iso_code]] }, { prompt: t('.please_select')} )%>
        </div>
      </div>
    </div>
  </div>
  <div class="field is-grouped is-grouped-multiline">
    <div class="control is-expanded">
      <%= form.label :website, class: 'label' %>
      <%= form.text_field :website, class: 'input' %>
    </div>
    <div class="control is-expanded">
      <%= form.label :phone_number, class: 'label' %>
      <%= form.text_field :phone_number,  type: 'tel', class: 'input' %>
    </div>
    <div class="field">
      <%= form.label :category, class: 'label' %>
      <div class="control m-r-sm">
        <div class="select">
          <%= form.select(:category, category_options, { prompt: t('questionnaire_form.please_select')}) %>
        </div>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= form.label :health_insurance, class: "label" %>
      <%= collection_check_boxes(:questionnaire_form, :health_insurance, insurance_options, :first, :last) do |box| %>
        <div class="check-box">
          <%= box.check_box class: "is-checkradio" %>
          <%= box.label class: 'check-box-label' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= form.label :payments_required_for_specific_treatments, class: 'label' %>
      <%= form.text_area :payments_required_for_specific_treatments, class: 'textarea' %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= form.label :languages, class: 'label' %>
      <%= form.text_field :languages, class: 'input' %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= form.label :practice_staff, class: 'label' %>
      <%= form.text_field :practice_staff, class: 'input' %>
    </div>
  </div>
  <div class="field">
    <div class="control is-expanded">
      <%= form.label :barrier_free_access, class: 'label' %>
      <%= form.text_area :barrier_free_access, class: 'textarea' %>
    </div>
  </div>
</div>
