<div class="step-content column is-8 is-offset-2">
  <h3><%= I18n.t('questionnaire_form.steps.items.treatments') %></h3>
  <div class="field">
    <div class="control check-box-cloud">
      <%= form.label :recommended_treatments, class: "label" %>
      <%= collection_check_boxes(:questionnaire_form, :recommended_treatments, treatments_list, :first, :last) do |box| %>
        <div class="check-box check-box-single-column">
          <%= box.check_box class: "is-checkradio" %>
          <%= box.label class: 'check-box-label' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= form.label :additional_recommended_treatments, class: "label" %>
      <%= form.text_field :additional_recommended_treatments, class: 'input' %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= form.label :treatment_rejected, class: "label" %>
      <%= form.text_area :treatment_rejected, class: 'textarea' %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= form.label :financing_of_treatments, class: "label" %>
      <%= form.fields_for :financing_of_treatments do |fields| %>
        <%= fields.collection_radio_buttons(:boolean, financing_of_treatment_options, :first, :last) do |box| %>
          <%= box.radio_button class: "is-checkradio" %>
          <%= box.label %>
        <% end %>
        <div class="field">
          <div class="control">
            <%= fields.label t('questionnaire_form.comment') %>
            <%= fields.text_field :comment, class: 'input' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
