<footer class="footer m-t-xl">
  <div class="ribbon">
    <span>ektiv für gynäkologische Selbstbestimmung</span>
    <span>Kollektiv für gynäkologische Selbstbestimmung</span>
    <span> Kollektiv für gynäkologische Selbstbestimmung</span>
    <span> Kollektiv für gynäkologische Selbstbestimmung</span>
    <span> Kollektiv für gynäkologische Selbstbestimmung</span>
    <span> Kollektiv für gynäkologische Selbstbestimmung</span>
  </div>
  <div class="content">
    <%= link_to t('.instagram'), 'https://www.instagram.com/gynformation/'%>
    <%= link_to t('.facebook'), 'https://www.facebook.com/gynformation/' %>
    <%= link_to t('.imprint'), imprint_path %>
    <%= link_to t('.data_protection'), data_protection_path %>
    <%= link_to t('.contact'), contact_path %>
  </div>
  <div class="logo">Gynformation</div>
</footer>
