<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item navbar-logo" href="/">
        <span>Gynformation</span>
      </a>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="menu-items">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="menu-items" class="navbar-menu">
      <div class="navbar-end">
        <%= link_to t('navigation.search'), profiles_path, class: 'navbar-item'%>
        <%= link_to t('navigation.submit'), new_questionnaire_path, class: 'navbar-item'%>
        <%= link_to t('navigation.blog'), posts_path, class: 'navbar-item'%>
        <%= link_to t('navigation.faq'), faq_path, class: 'navbar-item'%>
        <%= link_to t('navigation.about'), about_path, class: 'navbar-item'%>
        <%= link_to t('navigation.glossary'), glossary_path, class: 'navbar-item'%>
        <% if signed_in? %>
          <div class="navbar-item has-dropdown is-hoverable">
            <%= link_to t('admin.dashboard.title'), admin_dashboard_index_path, class: 'navbar-link' %>
            <div class="navbar-dropdown">
              <%= link_to t('layouts.application.sign_out'), sign_out_path, method: :delete, class: 'navbar-item', id: 'sign-out' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>
